.qr_popup {
    color: #000;
    display: block
}

.qr_popup__layout {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    z-index: 1000;
    visibility: hidden;
    -webkit-transition: opacity 300ms cubic-bezier(.2, 0, .2, 1), visibility 0ms 300ms;
    transition: opacity 300ms cubic-bezier(.2, 0, .2, 1), visibility 0ms 300ms;
    will-change: top
}

.qr_popup__layout--shown {
    opacity: .75;
    visibility: visible;
    -webkit-transition: opacity 300ms cubic-bezier(.2, 0, .2, 1), visibility 0ms 0ms;
    transition: opacity 300ms cubic-bezier(.2, 0, .2, 1), visibility 0ms 0ms
}

.qr_popup__container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-perspective: 600px;
    perspective: 600px;
    z-index: 1001;
    visibility: hidden;
    text-align: center;
    overflow: hidden
}

.qr_popup__container__window {
    pointer-events: auto;
    position: relative;
    min-width: 380px;
    display: inline-block;
    vertical-align: middle;
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    visibility: hidden;
    -webkit-transition: all 300ms cubic-bezier(.2, 0, .2, 1), visibility 0ms 300ms;
    transition: all 300ms cubic-bezier(.2, 0, .2, 1), visibility 0ms 300ms;
    margin: 0 auto 0 -3px
}

@media (max-width: 839px) {
    .qr_popup__container__window {
        width: 92%;
        min-width: auto
    }

    .qr_popup__container__window__tpl {
        margin-top: 60px
    }
}

.qr_popup__container__window__close {
    display: none
}

.qr_popup__container__window--styled .qr_popup__container__window__tpl {
    background: #fff;
    border-radius: 4px;
    text-align: left;
    padding: 30px;
    margin: 30px 0
}

.qr_popup__container__window--styled .qr_popup__container__window__close {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    opacity: .4;
    cursor: pointer;
    right: -30px;
    top: 0;
    font-size: 28px
}

.qr_popup__container__window--styled .qr_popup__container__window__close:hover {
    opacity: 1
}

@media (max-width: 839px) {
    .qr_popup__container__window--styled .qr_popup__container__window__close {
        right: 10px;
        top: 35px;
        color: #000
    }
}

.qr_popup__container__window--close-inside .qr_popup__container__window__tpl {
    margin-top: 0
}

.qr_popup__container__window--close-inside .qr_popup__container__window__close {
    display: block;
    position: absolute;
    width: 36px;
    height: 36px;
    line-height: 30px;
    color: #818181;
    cursor: pointer;
    right: 0;
    top: 0;
    font-size: 28px
}

.qr_popup__container__window--close-inside .qr_popup__container__window__close:hover {
    color: #000
}

.qr_popup__container--shown {
    visibility: visible;
}

.qr_popup__container--shown .qr_popup__container__window {
    -webkit-transition: all 300ms cubic-bezier(.2, 0, .2, 1), visibility 0ms 0ms;
    transition: all 300ms cubic-bezier(.2, 0, .2, 1), visibility 0ms 0ms;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1
}

.qr_popup .qr_popup__content h4 {
    font-size: 19px;
    margin-bottom: 20px;
    font-weight: 700;
}

.qr_popup .qr_popup__content .line {
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background: #f4f4f4
}

.andropov_image__inner {
    background: none !important;
}

.ce-toolbar__tools-item,
.ce-toolbar__tools-search {
    padding-left: 16px;
}

.layout__sticky {
    top: 45px;
    height: calc(100vh - 45px) !important;
}

.site-header {
    height: 45px !important;
}

@media (max-width: 719px) {
    .search__field {
        top: 45px !important;
    }
}

@media (max-width: 839px) {
    .layout__sticky {
        height: 100% !important;
    }
}

.ui-sorting,
.app--content-feed #page_wrapper {
    margin-top: 0px !important;
    /*padding-top: 0px !important;*/
}

.l-island-bg .header,
.v-mini-header {
    top: 45px !important;
}

.messenger-panel {
    position: relative;
    font-size: 13px;
    line-height: 1.4em;
}

.messenger-panel__down {
    position: absolute;
    background: #fff;
    color: #000;
    top: 100%;
    right: 0;
    width: 375px;
    -webkit-box-shadow: 0px 3px 5px rgba(116,116,116,0.25);
    box-shadow: 0px 3px 5px rgba(116,116,116,0.25);
}

.messenger-panel__down-head {
    font-weight: 500;
    line-height: 1em;
    border-bottom: 1px solid #f4f4f4;
    padding: 12px 13px;
}

.wrapper {
    padding-top: 0px im !important;
}

.wrapper .header {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
    order: 0 !important;
}

.wrapper .l-editor {
    margin-top: 10px !important;
}

.tab .tab__content {
    bottom: auto !important;
    padding: 18px 0px 0px 18px !important;
}